{% layout "base" %} {% block content %}

<h1>重置您的{{projectName}}密码</h1>

<p style="padding-bottom: 30px">
  我们收到了一个重置您的<i>{{ projectName }}</i>账户密码的要求。
  如果您没有进行此更改，请与您的管理员联系。
  否则，要完成此过程，请单击以下链接以确认您的电子邮件地址并输入您的新密码。
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">重置您的密码</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>

<p style="padding-top: 30px">重要提示：此链接将在24小时后失效。</p>

{% endblock %}
