{% layout "base" %} {% block content %}

<h1>来自{{ projectName }}的邀请</h1>

<p style="padding-bottom: 30px">
  您已被邀请加入<i>{{ projectName }}</i>。请点击下面的按钮接受邀请并加入这个项目：
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">加入{{ projectName }}</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>

{% endblock %}
